import React from 'react';

export interface {{componentName}}Props {
  onChange?: any
}

function {{componentName}}(props: {{componentName}}Props) {
  return <div {...props}>{{componentName}}</div>;
}

export { {{componentName}} };
